
 /* Adjust container width for smaller screens */
@media (max-width: 1200px) {
    #content-container {
        max-width: 75%; /* Adjusts the width on smaller screens */
        max-height: 75%;
    }
}

@media (max-width: 900px) {
    #content-container {
        max-width: 85%; /* Adjust for even smaller screens */
        max-height: 75%;
    }

    #landing-text { 
        font-size: .90rem;
    }
}

/* Media Query for Mobile Screens */
@media (max-width: 768px) {
    #content-container {
        max-width: 90%; /* Fit better on mobile */
    }

    .profile-image {
        max-width: 280px;
        max-height: 225px;
    }

    #title-text { 
        font-size: 1.5rem;
    }

    #title-text span { 
        font-size: 1.2rem;
    }

    .text-section span {
        font-size: 1.5rem;
    }

    #landing-text { 
        font-size: 1rem;
    }

    .about-ext {
        
      
      }
}

/* Small screen adjustments */
@media (max-width: 370px) {
    body {
        width: 100%; /* Make the body width 100% to fit smaller screens */
    }

    .nav-item { 
        height: 6%;
        width: 80px;
        font-size: large;  
    }
}

@media (max-width: 300px) {
    body {
        width: 100%; /* Make the body width 100% to fit smaller screens */
    }

    .nav-item { 
        height: 6%;
        width: 70px;
    }
}

@media (max-width: 270px) {
    body {
        width: 100%; /* Make the body width 100% to fit smaller screens */
    }

    .nav-item { 
        height: 6%;
        width: 4rem;
        font-size: smaller;  
    }
}

/* Fixed frame and window styles */
.frame-wrapper { 
    position: fixed;
    inset: 0;
    margin: auto;
    height: 96%;
    width: 95%;
    min-width: 60%;
}

.new-window-contact {
    height: 70%;
    width: 75%; /* Adjust width for better responsiveness */
}

.portfolio-headers { 
    top: -30px;
    padding-top: 10px;
}

.top-light { 
    top: 23px;
    width: 45px;
    height: 20px;
}

/* About, Portfolio, and Contact button adjustments */
#about {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 20px;
    margin: auto;
}

#portfolio {
    z-index: 2;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

#contact {
    z-index: 2;
    position: absolute;
    bottom: 0;
    right: 20px;
    margin: auto;
}

/* Fixed frame for the contact form */
.fixed-frame { 
    position: fixed;
    inset: 0;
    margin: auto;
    height: 90%;
    width: 95%;
    min-width: 60%;
}

/* Extended About Me Styles */
.extended-about-me {
    text-align: left; /* Change to center or left to avoid justification gaps */
    word-wrap: break-word; /* Ensure words break correctly */
    hyphens: auto; /* Add hyphenation where necessary */
}
