@media (max-width: 768px) {
    body {
        width: 100%; /* Make the body width 100% to fit smaller screens */
    }

    .frame-wrapper { 
        position: fixed;
        inset: 0;
        margin: auto;
        height: 96%;
        width: 95%;
        min-width: 60%;
    }

    .new-window-contact {
        height: 70%;
    }

    .portfolio-headers { 
        top: -30px;
        padding-top: 10px;
    }

    .top-light  { 
    top:20px;
    width: 45px;
    height: 20px;
    }

    #about {
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 20px;
        margin: auto;
        
    }
    
    #portfolio {
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 50%;
        /* Adjust the left position to 50% */
        transform: translateX(-50%);
        /* Center horizontally using translateX */
    }
    
    #contact {
        z-index: 2;
        position: absolute;
        bottom: 0;
        right: 20px;
        margin: auto;
    }

    .fixed-frame { 
        position: fixed;
        inset: 0;
        margin: auto;
        height: 90%;
        width: 95%;
        min-width: 60%;
        
    }

    .new-window-contact {
        width: 75%;
    }
    
}