@media (max-width: 768px) {
    body {
        width: 100%; /* Make the body width 100% to fit smaller screens */
    }

    #content-container {
        height: 70%;
        width: 80%; 
        padding-bottom: 50px;
    }

    .fixed-frame.open-contact .new-window-contact {
        width: calc(90% - 20px);
        height: calc(70% - 5%);
        margin-right:  3%;
        transform: translateX(0);
    }
    
    .new-window-contact input[type="text"],
    .new-window-contact input[type="email"],
    .new-window-contact textarea {
        width: 85%; /* Make textboxes take up the full width of their container */
        padding: 13px; /* Add padding inside textboxes */
        margin-left: 5%;
        border: 1px solid #ccc; /* Add a border around textboxes */
        resize: none;
    }
}
    @media (max-width: 370px) {
        body {
            width: 100%; /* Make the body width 100% to fit smaller screens */
        }

        .nav-item { 
            height: 6%;
    width: 80px;
     font-size: large;  
        }

       
    }

    @media (max-width: 300px) {
        body {
            width: 100%; /* Make the body width 100% to fit smaller screens */
        }

        .nav-item { 
            height: 6%;
    width: 70px;
        }
       


    }

    @media (max-width: 270px) {
        body {
            width: 100%; /* Make the body width 100% to fit smaller screens */
        }

        .nav-item { 
            height: 6%;
    width: 4rem;
     font-size: smaller;  
        }


       
    }
    
    .frame-wrapper { 
        position: fixed;
        inset: 0;
        margin: auto;
        height: 96%;
        width: 95%;
        min-width: 60%;
    }

    .new-window-contact {
        height: 70%;
    }

    .portfolio-headers { 
        top: -30px;
        padding-top: 10px;
    }

    .top-light  { 
    top:23px;
    width: 45px;
    height: 20px;
    }

    #about {
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 20px;
        margin: auto;
        
    }
    
    #portfolio {
        z-index: 2;
        position: absolute;
        bottom: 0;
        left: 50%;
        /* Adjust the left position to 50% */
        transform: translateX(-50%);
        /* Center horizontally using translateX */
    }
    
    #contact {
        z-index: 2;
        position: absolute;
        bottom: 0;
        right: 20px;
        margin: auto;
    }

    .fixed-frame { 
        position: fixed;
        inset: 0;
        margin: auto;
        height: 90%;
        width: 95%;
        min-width: 60%;
        
    }

    .new-window-contact {
        width: 75%;
    }

    
    .extended-about-me {
        text-align: left; /* Change to center or left to avoid justification gaps */
    }

    .extended-about-me {
        word-wrap: break-word; /* Ensure words break correctly */
        hyphens: auto; /* Add hyphenation where necessary */
    }
    

