body {
    margin: 0 auto;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    text-align: center;
}


.frame-wrapper {
   
    position: fixed;
    inset: 0;
    margin: auto;
    height: 600px;
    width: 800px;
    min-width: 60%;
    overflow: hidden;
     /* transparent border to create space for the glow */
    border-radius: 10px; 
 
    /*animation: glow 1s ease-in-out infinite alternate;  a CSS animation for continuous glowing */
  }


.fixed-frame {
    
    position: fixed;
    inset: 0;
    margin: auto;
    height: 500px;
    width: 800px;
    min-width: 60%;
    background-color: rgba(141, 230, 211, 0.204);
    overflow: hidden;
}


.line-top-left {
    position: absolute;
    top: 0;
    left: 0;
    height: 2px;
    width: 50%;
    background-color: #000;
}
.line-top-right {
    position: absolute;
    top: 0;
    right: 0;
    height: 2px;
    width: 50%;
    background-color: #000;
}
.line-left-vert {
    position: absolute;
    top: 0;
    width: 3px;
    height: 100%;
    background-color: #000;
}
.line-right-vert {
    position: absolute;
    top: 0;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: #000;
}
.line-bottom-left-about {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 10%;
    background-color: #000;
}
.line-bottom-left-portfolio {
    position: absolute;
    bottom: 0;
    left: 10%;
    height: 2px;
    width: 50%;
    background-color: #000;
}
.line-bottom-right-contact {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 10%;
    background-color: #000;
}
.line-bottom-right-free {
    position: absolute;
    bottom: 0;
    right: 10%;
    height: 2px;
    width: 40%;
    background-color: #000;
}

.top-light {
    z-index: 5;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 20px;
    background-color: rgb(149, 164, 162);
    border-radius: 3px; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
  }

  svg {
    height: 40px;
    width: 40px;
    transform: rotate(90deg);
    transform-origin: center;
    
  }

  

  .hr-lines { 
      background-color: #000;
      height: .5px;
      width: 80%;   
      inset: 0;
  }

 

.nav-item {
    
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -webkit-user-select: none; /* Safari */
    font-family: 'Lato', sans-serif;
    
    font-size: larger;
    color: black;
    display: flex; 
    align-items: center; /* Vertically center the text */
    justify-content: center;
    height: 7%;
    width: 90px;
    background-color: rgb(149, 164, 162);
    border-radius: 11px;
    transition: color 0.2s;
    /* Smooth color transition on hover */
    cursor: pointer;
    /* Change cursor to pointer on hover */
}

#about {
    z-index: 2;
    position: absolute;
    bottom: 30px;
    left: 20px;
    margin: auto;
    
}

#portfolio {
    z-index: 2;
    position: absolute;
    bottom: 30px;
    left: 50%;
    /* Adjust the left position to 50% */
    transform: translateX(-50%);
    /* Center horizontally using translateX */
}

#contact {
    z-index: 2;
    position: absolute;
    bottom: 30px;
    right: 20px;
    margin: auto;
}


/* Light-up effect for lines */
.light-up {
    /* background-color: rgba(91, 235, 201, 0.7); */
    background-color: rgb(237, 255, 251);
    box-shadow: 10 10 30px #000000; 
    transition: background-color 0.1s ease;
}

.border-light {
    background-color: rgb(122, 182, 166);
    background-color: rgb(195, 218, 213);
    border: 2px solid rgb(237, 255, 251);
    box-shadow: 0 0 10px #000000; 
   
}


.portfolio-headers {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    position: sticky;
}

.portfolio-headers a {
    margin: 0 10px;
    /* Adjust the spacing between links as needed */
}

/* Style the image */
.img_3d {
    display: block;
    margin: 0 auto;
    /* Center horizontally */
    max-width: 100%;
    /* Set the maximum width of the image */
    max-height: 100%;
    /* Maintain the image's aspect ratio */
}

.new-window-about::-webkit-scrollbar {
    width: .5px;
}

.new-window-about::-webkit-track {
    background: transparent;
}

.new-window-portfolio::-webkit-scrollbar {
    width: .5px;
}

.new-window-portfolio::-webkit-track {
    background: transparent;
}

.new-window-about {
    font-family: 'Exo', sans-serif;
    z-index: -1;
    position: absolute;
    top: 11px;
    left: 0; /* Ensure the window starts from the left */
    width: calc(100% - 40px); /* Adjust width to account for padding */
    max-width: calc(100% - 40px); /* Ensure the max-width is also adjusted */
    max-height: 89%;
    background-color: rgb(223, 222, 212);
    transition: transform 0.5s ease;
    transform: translateX(-100%);
    overflow: auto; /* Use auto to show scrollbars if needed */
    padding: 0 20px; /* Apply equal padding to left and right */
    box-sizing: border-box; /* Include padding in the width calculation */
    border-top-right-radius: 15px; /* Adjust radius as needed */
    border-bottom-right-radius: 15px; /* Adjust radius as needed */
}

.fixed-frame.open-about .new-window-about {
    
    padding-top: 5%;
    top: 11px;
    left: 2px;
    max-height: 89%;
    overflow: scroll;
    transform: translateX(0);
}

.new-window-portfolio {
    z-index: -1;
    border-radius: 0% 0% 05% 5%;
    position: absolute;
    top: 1px;
    left: 2%;
    width: 96%;
    height: 90%;
    background-color: rgb(191, 214, 205);
    transition: transform 0.5s ease;
    transform: translateY(-100%);
    overflow: scroll;
}

.fixed-frame.open-portfolio .new-window-portfolio {
    padding-top: 5%;
    top: 2px;
    transform: translateY(0);
}

.new-window-contact {
    z-index: -1;
    border-radius: 5% 0 0 5%;
    position: absolute;
    top: 10%;
    right: 0;
    width: 50%;
    height: 80%;
    background-color: rgb(181, 203, 203);
    transition: transform 0.5s ease;
    transform: translateX(100%);
    overflow: hidden;
   
}

.fixed-frame.open-contact .new-window-contact {
    right: 3px;
    padding-right: 30px;
    transform: translateX(0);
}


.new-window-contact label {
    display: flex; /* Display labels as block elements, one below the other */
    margin-bottom: 5px; /* Add some spacing below each label */
    margin-top: 3%;
    margin-left: 5%;
}

/* Style the textboxes (input fields) */
.new-window-contact input[type="text"],
.new-window-contact input[type="email"],
.new-window-contact textarea {
    width: 100%; /* Make textboxes take up the full width of their container */
    padding: 10px; /* Add padding inside textboxes */
    margin-left: 5%;
    margin-bottom: 5px; /* Add spacing between textboxes */
    border: 1px solid #ccc; /* Add a border around textboxes */
    resize: none;
}


.new-window-contact button {
    position: relative;
    bottom: 10px;
    
    background-color: #435669;
    color: white; 
    padding: 10px 20px; 
    margin-left: 10%;;
    border: none; 
    border-radius: 3px;
    cursor: pointer; 
}


.new-window-contact button:hover {
    background-color: #6082a4;  /* Change the background color on hover */
    border-radius: 3px;
}

.portfolio-headers { 
position: sticky;
top: -40px;
background-color: rgb(191, 214, 205);
padding-top: 10px;
padding-bottom: 10px;
}
   
.content-contactForm {
    padding: 3%;
    display: flex;
    font-size: 1.5rem;
    justify-content: flex-start
}
.content-contactForm-label {
    margin: 0 1vh;
}

.new-window .content {
    margin: 1.5rem;
    font-size: 3rem;
}

.list-container {
    display: flex;
    justify-content: center; /* Center the list horizontally */
}

ul {
    list-style-type: disc; /* Default bullet style */
    margin-left: 0; /* Remove default left margin */
}

li {
    font-weight: light;
    text-align: center; /* Center text */
    text-align: justify;
}

