body {
    margin: 0 auto;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    font-family: 'Lato', sans-serif;
    font-size: 1em;
    text-align: center;
}


.frame-wrapper {
    position: fixed;
    inset: 0;
    margin: auto;
    height: min-content;
    width: 800px;
    min-width: 60%;
    overflow: hidden;
     /* transparent border to create space for the glow */
    /*animation: glow 1s ease-in-out infinite alternate;  a CSS animation for continuous glowing */
  }

.fixed-frame {
    z-index: 1;
    background-color: #000;
    position: fixed;
    inset: 0;
    margin: auto;
    height: 600px;
    width: 800px;
    min-width: 60%;
    overflow: hidden;
    -webkit-transform: translateZ(0);
}

.top-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background-color: black; /* Match body background color */
    z-index: 2; /* Ensure it covers the sliding window */
}


#content-container {
   
    padding-bottom: 30px;
    position: absolute;
    top: calc(40% + 60px); /* Center vertically and add margin-top */
    left: 50%;
    transform: translate(-50%, -50%); /* Center horizontally */
    height: 70%;
    width: 60%; 
    max-height: 80vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 13px;
    background-color: rgba(51, 51, 51, 0.885); 
    overflow: hidden;
}

.top-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-image {
    border-radius: 13px;
    margin-top: 10px;
    max-width: 280px;
    max-height: 280px; /* Ensures the image doesn't overflow vertically */
   
}


.icons {
    display: flex;
    gap: 10px;
    top: 20px;
}

.icons img {
    display: block;
    border-radius: 25px;
   overflow: hidden;
    width: 100px;
    height: 60px;
    transition: transform 0.2s ease-in-out;
}

.icons img:hover {
    transform: scale(1.1);
}

.text-section {
    font-family: "Open Sans", sans-serif;
}

#title-text { 
    margin-top: ;
    font-family: "Nunito", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
    
    color: #f7f7f7;
}
.text-section span {
    font-size: 1.33rem; 
  }

#landing-text { 
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5;
    color: #f7f7f7;
}

@media (max-width: 1200px) {

    #content-container {
        margin-top: 1vh;
        padding-top: 7vh; 
        padding-bottom: 5vh; 

    }
}

@media (max-width: 900px) {

    #content-container {
        margin-top: 1vh;
        padding-top: 7vh; 
        padding-bottom: 5vh; 

    }
}

/* Media Query for Mobile Screens */
@media (max-width: 768px) {

    #content-container {
        margin-top: 1vh;
        padding-top: 7vh; 
        padding-bottom: 5vh; 

    }

    .profile-image {
        border-radius: 13px;
        margin-top: 10px;
        max-width: 280px;
        max-height: 225px; /* Ensures the image doesn't overflow vertically */
       
    }
    #title-text { 
        padding-top: 25px;
        font-size: 1rem; /* Adjusted font size for mobile */
    }

    .text-section span {
        font-size: 1rem; /* Adjusted font size for mobile */
    }

    #landing-text { 
        font-size: .90rem; /* Adjusted font size for mobile */
    }
}

.line-top-left {
    position: absolute;
    top: 10px;
    left: 0;
    height: 2px;
    width: 50%;
    background-color:rgb(149, 164, 162);
    z-index: 2;
}
.line-top-right {
    position: absolute;
    top: 10px;
    right: 0;
    height: 2px;
    width: 50%;
    background-color: rgb(149, 164, 162);
    z-index: 2;
}
.line-left-vert {
    position: absolute;
    top: 10px;
    width: 3px;
    height: 100%;
    background-color: rgb(149, 164, 162);
    z-index: 2;
}
.line-right-vert {
    position: absolute;
    top: 10px;
    right: 0;
    width: 3px;
    height: 100%;
    background-color: rgb(149, 164, 162);
    z-index: 2;
}
.line-bottom-left-about {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: rgb(149, 164, 162);
    z-index: 2;
}
.line-bottom-left-portfolio {
    position: absolute;
    bottom: 0;
    left: 30px;
    height: 2px;
    width: 100%;
    background-color: rgb(149, 164, 162);
    z-index: 2;
}
.line-bottom-right-contact {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 2px;
    width: 30px;
    background-color: rgb(149, 164, 162);
    z-index: 2;
}
.line-bottom-right-free {
    position: absolute;
    bottom: 0;
    right: 30px;
    height: 2px;
    width: 50%;
    background-color: #000;
    z-index: 2;
}

.top-light {
    cursor: pointer;
    z-index: 10;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -100%); /* Move it above the frame */
    width: 50px;
    height: 20px;
    background-color: rgb(149, 164, 162);
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}



  svg {
    height: 40px;
    width: 40px;
    transform: rotate(90deg);
    transform-origin: center;
  }

  

  .hr-lines { 
      background-color: #000;
      height: .5px;
      width: 80%;   
      inset: 0;
  }

.nav-item {
    user-select: none;
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -webkit-user-select: none; /* Safari */
    
    font-family: "Afacad Flux", sans-serif;
    font-size:larger;
    color: black;
    display: flex; 
    align-items: center; /* Vertically center the text */
    justify-content: center;
    height: 7%;
    width: 90px;
    background-color: rgb(149, 164, 162);
    border-radius: 11px;
    transition: color 0.2s;
    /* Smooth color transition on hover */
    cursor: pointer;
    /* Change cursor to pointer on hover */
}

#about {
    z-index: 2;
    position: absolute;
    bottom: 30px;
    left: 20px;
    margin: auto;
    
}

#portfolio {
    z-index: 2;
    position: absolute;
    bottom: 30px;
    left: 50%;
    /* Adjust the left position to 50% */
    transform: translateX(-50%);
    /* Center horizontally using translateX */
}

#contact {
    z-index: 2;
    position: absolute;
    bottom: 30px;
    right: 20px;
    margin: auto;
}


/* Light-up effect for lines */
.light-up {
    /* background-color: rgba(91, 235, 201, 0.7); */
    background-color: rgb(237, 255, 251);
    box-shadow: 10 10 30 #ffffff; 
    transition: background-color 0.1s ease;
}

/* Default fill color for SVG */
svg path {
    fill: #000000; /* Default fill color */
}

/* Fill color when 'light' class is added to the SVG */
svg.light path {
    fill: rgb(237, 255, 251); /* Light color */
}



.border-light {
    background-color: rgb(122, 182, 166);
    background-color: rgb(195, 218, 213);
    border: 2px solid rgb(237, 255, 251);
    box-shadow: 0 0 10px #000000; 
   
}


.portfolio-headers {
    display: flex;
    justify-content: center;
    /* Center horizontally */
    position: sticky;
}

.portfolio-headers a {
    margin: 0 10px;
    /* Adjust the spacing between links as needed */
}

/* Style the image */
.img_3d {
    display: block;
    margin: 0 auto;
    /* Center horizontally */
    max-width: 100%;
    /* Set the maximum width of the image */
    max-height: 100%;
    /* Maintain the image's aspect ratio */
}

.new-window-about::-webkit-scrollbar {
    width: .5px;
}

.new-window-about::-webkit-track {
    background: transparent;
}

.new-window-portfolio::-webkit-scrollbar {
    width: .5px;
}

.new-window-portfolio::-webkit-track {
    background: transparent;
}



.new-window-about {
    font-family: 'Exo', sans-serif;
    font-size: 1.2rem;
    color: rgb(149, 164, 162);
    z-index: 1;
    position: absolute;
    top: 11px;
    left: 0;
    width: calc(100% - 40px);
    max-height: 91%;
    background: rgba(30, 30, 30) radial-gradient(circle, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 13px 13px;
    padding: 0 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    transition: transform 0.5s ease;
    transform: translateX(-100%);
    overflow: auto;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}


.fixed-frame.open-about .new-window-about {
    padding-top: 5%;
    top: 11px;
    left: 2px;
    max-height: 89%;
    overflow: scroll;
    transform: translateX(0);
}

.new-window-portfolio {
    font-family: 'Exo', sans-serif;
    font-size: 1.2rem;
    color:rgb(191, 214, 205);  /* To maintain consistent text color */
    z-index: 1;
    border-radius: 0 0 15px 15px; /* Ensure the syntax is consistent */
    position: absolute;
    top: -20px; 
    left: 2%;
    width: 96%;
    height: 90%;
    background: rgba(30, 30, 30) radial-gradient(circle, rgba(255, 255, 255, 0.05) 1px, transparent 1px); /* Matching background */
    background-size: 13px 13px;
    transition: transform 0.5s ease;
    transform: translateY(calc(-100% - 10px));
    overflow: scroll;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4); /* Consistent shadow effect */
    box-sizing: border-box; /* Consistent box-sizing */
}

.fixed-frame.open-portfolio .new-window-portfolio {
    padding-top: 3%;
    top: 10px;
    transform: translateY(0);
}

.new-window-contact {
    z-index: 1;
    border-radius: 13px 0 0 13px;
    position: absolute;
    top: 10%;
    right: -3%;
    margin-right: 3%;
    width: calc(50% - 20px);
    color:rgb(191, 214, 205);  /* To maintain consistent text color */
    background: rgba(30, 30, 30) radial-gradient(circle, rgba(255, 255, 255, 0.05) 1px, transparent 1px); /* Matching background */
    background-size: 13px 13px;
    transition: transform 0.5s ease;
    transform: translateX(100%);
    overflow: hidden;
   
}

.fixed-frame.open-contact .new-window-contact {
    width: calc(30% - 20px);
    
    margin-right:  3%;
    transform: translateX(0);
}


.new-window-contact label {
    display: flex; /* Display labels as block elements, one below the other */
    margin-top: 3%;
    margin-left: 5%;
   
}

/* Style the textboxes (input fields) */
.new-window-contact input[type="text"],
.new-window-contact input[type="email"],
.new-window-contact textarea {
    width: 90%; /* Make textboxes take up the full width of their container */
    padding: 10px; /* Add padding inside textboxes */
    margin-left: 5%;
    border: 1px solid #ccc; /* Add a border around textboxes */
    resize: none;
}
    #message { 
        padding-top: 0px;
    }


.new-window-contact button {
    position: relative;
    background-color: rgb(149, 164, 162);
    color: white; 
    padding: 10px 20px; 
    margin-top: 3%;
    margin-left: 10%;
    border: none; 
    border-radius: 3px;
    cursor: pointer; 
}


.new-window-contact button:hover {
    background-color:#6082a4;  /* Change the background color on hover */
    border-radius: 3px;
}

.portfolio-headers { 
    position: sticky;
    top: -40px;
    background: rgba(30, 30, 30) radial-gradient(circle, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
    background-size: 13px 13px;
    padding: 10px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
    width: 60%; /* Adjust width as needed for the desired boxed look */
    margin: 0 auto; /* Center the header horizontally */
    border-radius: 10px; /* Optional: rounded corners */
    border: 1px solid rgba(255, 255, 255, 0.1); /* Optional: subtle border */
}

a {
    color:rgb(191, 214, 205);  /* Default link color */
    text-decoration: none; /* Remove underline if desired */
}

a:hover {
    color: rgb(204, 232, 222); /* Hover link color */
}

a.underline {
    text-decoration: underline; /* Always underlined */
}


   
.content-contactForm {
    padding: 3%;
    display: flex;
    font-size: 1.5rem;
    justify-content: flex-start
}
.content-contactForm-label {
    margin: 0 3%;
}

.new-window .content {
    margin: 1.5rem;
    font-size: 3rem;
}

.list-container {
    display: flex;
    justify-content: center; /* Center the list horizontally */
}

ul {
    list-style-type: disc; /* Default bullet style */
    margin-left: 0; /* Remove default left margin */
}

li {
    font-weight: light;
    text-align: center; /* Center text */
    text-align: justify;
}

